/*Clear previous formatting to allow for granular control and set a background for the page.*/
*{
    padding: 0px;
    margin: 0px;
    background-color: #D8BFD8;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

body {overflow-x: hidden;}

/*Create a stylized break to separate the header/navigation links from the main body of the webpage.*/
#navBar{
    background-color: silver;
    padding-top: 3%;
    margin-top: 2%;
    padding-left: 12%;
    font-size: 80%;
    text-align: center;
    word-wrap: break-word;
}

/*Stylize the "About me" section of the page.*/
.aboutMe{
    width: 100%;
    margin: 1%;  
}

#profilePic{
    max-width: 500px;
    width:100%;
    float:right;
    max-height: auto;
    padding: 2%;
}

.workImage{   
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;  
    font-size: 45%;
}

.repoLink{
    word-wrap: break-word;
    max-width: 80%; 
    margin-left: 12%
}

.workBox, .appDescription{
    margin-top: 2%;
    width: 95%;
    margin-left: 5%;
}

/*Stylize Portfolio section*/
.prompt{
    font-size:x-large;
    font-weight: bold;
    word-wrap: break-word;
    margin-left: 4%;
}
.appDescription, .progConcepts, .techUsed{
    font-size:x-large;
    margin-left: 4%;    
}

/*Stylize the "Contact me" section of the page.*/
.form{
    margin-left:10%
}

.contactLinks {
    min-width: 100%;
    padding-right: 3%;
    margin: 1%;
    display: grid;
    place-items:center;
    
}

#email, #gitHub, #linkedIn {
    display: grid;
    place-items:center;
    text-align: center;
}

.contactImage{
    width: auto;
    height: 150px;
    padding-left: 1%;
}

.contactLink, .repoLink{
    font-size: 18px;
    color: black;
}

/*Stylize the Resume Section*/
.react-pdf_Page{
    background-color: transparent;
}

/*Create a hover tooltip that explains what clicking each "contact me" icon will link to.*/
.emailToolTip:hover::after, .githubToolTip:hover::after, .linkedInToolTip:hover::after{
    position:absolute;
    max-width: 100%;
    border: 1px black solid;
    background-color:black;
    padding: 1%;
    color: whitesmoke;
    font-size: 50%;
}

.emailToolTip:hover::after{
    content:"Click here to contact me by email.";
}

.githubToolTip:hover::after{
    content:"Click here to view my code repositories, including personal projects.";
}

.linkedInToolTip:hover::after{
    content:"Click here to connect via LinkedIn and to see my profile.";
}

/*Add media rules to reformat the webpage to respond to different user window sizes*/
@media screen and (min-width: 760px) {
    #navBar{
        background-color: silver;
        padding-left: 12%;
        font-size: 90%;
        padding-top: 0%;
        text-align: center;
        word-wrap: break-word;
    }

    .workImage{   
        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 37%;  
        font-size: 45%;
    }

    .prompt{
        font-size:x-large;
        font-weight: bold;
        word-wrap: break-word;
        margin-left: 6%;
        width:25%
    }
    .appDescription, .progConcepts, .techUsed{
        font-size:x-large;
        margin-left: 5%;    
    }

    .workBox, .appDescription{
        margin-top: 2%;
        width: 93%;
    }
}